.*
src
test
node_modules
coverage
example
node_cache/*
test
test-results
playwright-report
readme/*
!dist/*
!build/*
!build/umd/src/*.d.ts
!build/esm/src/*.d.ts
**/webpack.config.js
**/webpack.config.test.js
*.png